@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* div{
  border:red solid 1px
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}



.box{
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.inbox{
  -webkit-box-shadow: inset 1px 2px 2px 0px rgb(0, 0, 0,0.3);
  -moz-box-shadow: inset 1px 2px 2px 0px rgb(0, 0, 0,0.3);
  box-shadow: inset 1px 2px 2px 0px rgb(0, 0, 0, 0.3);
  background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb') center/cover no-repeat;
}

.review-box{
  background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb') center/cover no-repeat;
}

.review-box-1{
  background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb') center/cover no-repeat;
}
